<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Controlador.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Controlador.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioActualizado</servlet-name>
        <servlet-class>Controlador.ActualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>img</servlet-name>
        <servlet-class>Controlador.img</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirPeliculaBD</servlet-name>
        <servlet-class>Controlador.PeliculasAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imagenPelicula</servlet-name>
        <servlet-class>Controlador.imgP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Peliculas</servlet-name>
        <servlet-class>Controlador.Peliculas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/registrarse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/cerrandoSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioActualizado</servlet-name>
        <url-pattern>/Actualizar_Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>img</servlet-name>
        <url-pattern>/Avatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirPeliculaBD</servlet-name>
        <url-pattern>/PeliculasAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imagenPelicula</servlet-name>
        <url-pattern>/imgP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Peliculas</servlet-name>
        <url-pattern>/verPelicula</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
