/*
    Desarrollo Movil
*/

/*
    Reiniciando valores navegador por Defecto
*/

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/* Modo Claro */
body{
    background: #f1f1f1;
    font-family: 'Ubuntu', sans-serif;
    transition: .20s ease all;
}

/* Cambiar los Colores del Body para el modo oscuro*/

body.dark{
    background: #000;
    font-family: 'Ubuntu', sans-serif;
    transition: .20s ease all;
    color: #f1f1f1;
}

/* Menu Enlaces*/

body.dark .header nav div ul li a{
    color: white;
}

body.dark .header nav div ul li a:hover{
    font-size: 1.3em;
    color: #00214D;
}

header{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Imagen centrada */
.nav-logo{
    width: 40%;
    display: block;
    margin: 10px auto;
    border-radius: 50%;
}

/* Menu Hamburguesa para Peliculas modo oscuro*/


body.dark .nav-menu_peliculas {
  width: 100%;
}

.nav-menu_peliculas label {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid #f1f1f1;
  color: #fff;
  text-align: center;
  background: #B4133C;
}

.nav-menu_peliculas label:hover {
  cursor: pointer;
  opacity: 0.8;
}

.nav-menu_peliculas label::before {
  content: "";
  width: 70%;
  height: 3px;
  margin: 10px auto;
  display: block;
  background: #f1f1f1;
  box-shadow: 0 10px 0 #fff, 0 20px 0 #fff;
}

.nav-menu_peliculas input[type="checkbox"]:checked ~ ul {
  max-height: 500px;
  transition: all 1s ease;
}

.nav-menu_peliculas input[type="checkbox"] {
  display: none;
}

.nav-menu_peliculas ul {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  max-height: 0px;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-menu_peliculas ul li {
  height: 30px;
  text-align: center;
  margin: auto;
  transition: all 1s ease;
}

.nav-menu_peliculas ul a {
  color: white;
  font-weight: bold;
}
/* En modo claro el menu de peliculas tiene letra negra*/

body .nav-menu_peliculas ul a {
  color: black;
}

/* En modo claro el menu de peliculas tiene letra negra*/

body .nav-menu_peliculas ul a {
  color: black;
}

/* Modo oscuro Menu navegacion peliculas*/

body.dark .nav-menu_peliculas ul a {
  color: white;
}

.nav-menu_peliculas ul li:hover {
  cursor: pointer;
  background-color: #B4133C;
  padding: 5px;
  border-bottom: 1px solid gray;
}


/* Centrado y menu navegacion Para el usuario*/
.cont-nav > div{
    width: 98%;
    margin: 0 auto;
}

.cont-nav > div ul.nav-menu{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Foto del perfil, o avatar del usuario*/

.cont-nav .menu_item .perfil-user{
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
}

.perfil-user .link_fotoP{
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
}

.perfil-user .link_fotoP .fotoP{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
}

/* Cerrar sesion*/

.cont-nav .nav-menu .menu_item form input[type="submit"]{
    background: #00214D;
    color: white;
    border-radius: 7px;
    cursor:pointer;
    font-size: 1.2em;
    padding: 2px;
    border: none;
}

/* Modo oscuro*/

.switch{
    background: #343D5B;
    border-radius: 1000px;
    border:none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3S ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}


.nav-menu .switch.active{
    background: orange;
    color: #000;
}

.nav-menu .switch.active::after{
    right: 0;
    left: unset;
}

.switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

/* tamaño, color, etc de la fuente menu navegacion*/
.header nav div {
    margin-top: 20px;
}

.header nav div ul li a{
    font-size: 1.2em;
    color: black;
}

.header nav div ul li a:hover{
    font-size: 1.3em;
    color: #00214D;
}

.header nav div ul li a.red:hover{
    background: #B4133C;
    border-radius: 8px;
    border: none;
    padding: 7px;
}

.header nav div ul li a.activo{
    background: #34B3E7;
    border-radius: 8px;
    border: none;
    padding: 7px;
}


/* Buscador Peliculas del Nav*/

.cont-nav .buscador{
    display: flex;
    justify-content: center;
    
}

body.dark .cont-nav .buscador input[type=text]{
    display: block;
    width: 50%;
    font-size: 1em;
    background: #f1f1f1;
    padding: 4px 2px 5px 3px;
    border-radius: 2px;
    border:none;
    color: #000;
}

body .cont-nav .buscador input[type=text]{
    display: block;
    width: 50%;
    font-size: 1em;
    background: #DBDBDD;
    padding: 4px 2px 5px 3px;
    border-radius: 2px;
    border:none;
    color: #000;
}

/*Informacion de la Pelicula*/

.cont{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.cont .tituloP{
    margin-bottom: 15px;
}

.cont .imgP{
    width: 280px;
    height: 320px;
    margin-bottom: 30px;
}

.cont .imgP img{
    width: 280px;
    height: 320px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.cont .descripcionP{
    margin-bottom: 20px;
}

/* Seccion de comentarios*/

.cont2{
    width: 80%;
    margin: 0 auto;
}

body.dark .cont2 .cont-comentarios h3{
    color:white;
}

.cont2 .cont-comentarios .text-comment{
    padding: 2px;
    margin-top: 20px; 
    width: 80%; 
    height: 40px;
    font-size: 1.3em;
}

.cont-comentarios form .botones-comment{
    width: 90%;
    margin: 10px auto;
}

.cont-comentarios form input[type="submit"]{
    background: #00214D;
    color: white;
    border-radius: 7px;
    cursor:pointer;
    font-size: 1.2em;
    padding: 2px;
    border: none;
}

.cont-comentarios form input[type="reset"]{
    background: #B4133C;
    color: white;
    border-radius: 7px;
    cursor:pointer;
    font-size: 1.2em;
    padding: 2px;
    border:none;
}

/* Version Movile horizontal- tablet vertical */

@media only screen and (min-width: 600px) {
    /* Imagen de logo */
    .nav-logo{
        width: 35%;
    }

}

/* Version Tablet Horizontal */

@media only screen and (min-width: 768px) {
   /* Imagen de logo */
    .nav-logo{
        width: 20%;
    }
    
    /* Menu navegacion*/
    .cont-nav > div ul{
        justify-content: center;
    }
    
    .cont-nav > div ul .menu_item{
        margin-right: 10%;
    }
    
    body.dark .cont-nav .buscador input[type=text],
    body .cont-nav .buscador input[type=text]{
        width: 30%;
    }


}

/* Version laptos y desktops */

@media only screen and (min-width: 992px) {
    /* Imagen de logo */
    .nav-logo{
        width: 15%;
    }
    
    
    /* transformacion del menu hamgurguesa de peliculas a Escritorio*/
    
    .nav-menu_peliculas label,
    .nav-menu_peliculas #desplegar {
        display: none;
    }

    .nav-menu_peliculas ul {
       flex-direction: row;
    }

    .nav-menu_peliculas ul a {
        margin-top: 10px;
        margin-right: 22px;
    }

    .nav-menu_peliculas ul a:last-of-type {
        margin-right: 30px;
    }

    .nav-menu_peliculas ul a li {
        font-size: 1.2rem;
    }

    body .nav-menu_peliculas ul li{
        transition: none;
        background-color: #B4133C;
        padding: 2px;
        border-radius: 5px;
        border: none;
    }

      /* Menu modo oscuro*/
    body.dark .nav-menu_peliculas ul li {
        transition: none;
        background-color: #B4133C;
        padding: 2px;
        border-radius: 5px;
        border: none;
    }
       
    
    /* Menu Modo light y dark Con hover para escritorio*/
    
    body .nav-menu_peliculas ul li:hover{
        cursor: pointer;
        background-color: #00214D;
        padding: 2px 4px;
        opacity: 0.8;
        border-bottom: none;
        color: #f1f1f1;
    }

    body.dark .nav-menu_peliculas ul li:hover{
        cursor: pointer;
        background-color: #00214D;
        padding: 2px 4px;
        opacity: 0.8;
        border-bottom: none;
        color: #f1f1f1;
    }
    
    /*Informacion de la Pelicula*/
    
    .cont .flex{
        display: flex;
        flex-direction: row;
    }
    
    .cont .flex .imgP{
        width: 400px;
        height: 500px;
        margin-bottom: 30px;
    }

    .cont .flex .imgP img{
        width: 400px;
        height: 500px;
    }
    
    .cont .flex .descripcionP{
        width: 50%;
        margin: 0 auto;
    }
    
    /* Seccion de comentarios*/
    
    .cont2 .cont-comentarios .text-comment {
        height: 80px;
    }


    
    
}


/* Version Pc de escritorio y pantallas grandes */

@media only screen and (min-width: 1200px) {
     /* Imagen de logo */
    .nav-logo{
        width: 10%;
    }
}


